/******************************************************************************
**** Stylesheets für die App spx42Control                                  ****
******************************************************************************/

/* Alle Anzeigeelemente */

QWidget
{
  font-family: "DejaVu Sans Mono";
  font-style: normal;
  font-size: 16pt;
}

QPushButton
{
  font-size: 16pt;
}

QPushButton#closeButton, QPushButton#cancelButton
{
  font-size: 21pt;
}

/* mit hover-Effekt */
QPushButton:hover:!pressed, QComboBox:hover, QSpinBox:hover
{
  color: green;
  border: 1px solid green;
}

/* gepresst */
QPushButton:hover:pressed
{
  color: red;
  border: 2px solid red;
}

/* kopf überschriften in den TABS */
QLabel#tabHeaderLabel
{
  font-style: bold;
  font-size: 18pt;
  color: red;
}

/*
###############################################################################
#### tabs stylen                                                           ####
###############################################################################
*/

/* linie zum hauptbereicvh */
QTabWidget::pane
{
  border-top: 2px solid #295732;
}

/* abstand zur linken Seite unter Windows, bei mac ist mitte standart */
QTabWidget::tab-bar
{
    left: 5px;
}

/* grundstyle des einzelnen TAB */
QTabBar::tab
{
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                stop: 0 #E1E1E1, stop: 0.4 #DDDDDD,
                                stop: 0.5 #D8D8D8, stop: 1.0 #D3D3D3);
    border: 2px solid #C4C4C3;
    border-bottom-color: #295732; /* same as the pane color */
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    min-width: 10ex;
    padding-top: 4px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
}

/* drüber mit der Maus */
QTabBar::tab:selected, QTabBar::tab:hover
{
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                stop: 0 #fafafa, stop: 0.4 #f4f4f4,
                                stop: 0.5 #e7e7e7, stop: 1.0 #fafafa);
}

/* der markierte TAB */
QTabBar::tab:selected
{
    border-color: #278C23;
    border-bottom-color: #295732; /* same as pane color */
}

/* NICHT selektierter Tabs sollen kleiner erscheinen */
QTabBar::tab:!selected
{
    margin-top: 2px;
}

/* selektierte tabs sollen überlappen */
QTabBar::tab:selected
{
    margin-left: -2px;
    margin-right: -2px;
}

/* der erste tab überlappt natürlich nicht links */
QTabBar::tab:first:selected
{
    margin-left: 0;
}

/* und der letzte tab überlapt natürlich nicht rechts */
QTabBar::tab:last:selected
{
    margin-right: 0;
}

/* wenn nur ein tab da sein sollte */
QTabBar::tab:only-one
{
    margin: 0;
}


/*
##################################################################
#  Device Info Tab                                               #
##################################################################
*/

QWidget#deviceInfoBodyWidget>QLabel
{
  font-family: "Hack";
  font-style: bold;
  font-size: 22pt;
  color:gray;
  background-color: silver;
}

QGroupBox#firmwarePartGroupBox>QLabel
{
  font-style: italic;
  font-size: 12pt;
  color:gray;
}

QGroupBox#firmwarePartGroupBox>QLabel:enabled
{
  font-style: bold;
  font-size: 12pt;
  color:green;
}


/*
##################################################################
#  Gas Tab - current gas edit                                    #
##################################################################
*/
QGroupBox#currGasGroupBox>QWidget
{
  background-color: silver;
}

QGroupBox#currGasGroupBox>QLabel
{
  background-color: none;
  color:blue;
}

QGroupBox#currGasGroupBox>QWidget>QLabel,
 QGroupBox#currGasGroupBox>QWidget>QCheckBox ,
 QGroupBox#currGasGroupBox>QWidget>QSpinBox,
 QGroupBox#currGasGroupBox>QWidget>QLineEdit,
 QLabel#currNameLabel
{
  font-style: bold;
  font-size: 22pt;
  color:rgb(0, 30, 161);
  background-color: silver;
}

QGroupBox#currGasGroupBox>QWidget>QCheckBox#currWaterTypeCheckBox
{
  color:#6060ff;
  font-size: 14pt;
}

QGroupBox#gasesGroupBox>QRadioButton
{
  color:gray;
  font-size:14pt;
}

QGroupBox#gasesGroupBox>QRadioButton:checked
{
  color:rgb(10, 41, 179);
  background-color: silver;
}

QGroupBox#gasesGroupBox>QRadioButton:hover
{
  color:rgb(47, 79, 223);
  background-color: rgb(170, 183, 241);
}

/*
###############################################################################
LOG TAB
###############################################################################
*/
QGroupBox#logDetailsGroupBox>QLabel#dbWriteNumLabel
{
  font-size: 14pt;
  font-style: bold;
  color: rgb(182, 21, 133);
  background-color: #D6D6D6;
}

