/******************************************************************************
**** Stylesheets für die App spx42Control                                  ****
******************************************************************************/

/* Alle Anzeigeelemente */

QWidget
{
  font-family: "DejaVu Sans Mono";
  font-style: normal;
  font-size: 16pt;
}

QPushButton
{
  font-size: 16pt;
}

QPushButton#closeButton, QPushButton#cancelButton
{
  font-size: 21pt;
}

/* mit hover-Effekt */
QPushButton:hover:!pressed, QComboBox:hover, QSpinBox:hover
{
  color: green;
  border: 1px solid green;
}

/* gepresst */
QPushButton:hover:pressed
{
  color: red;
  border: 2px solid red;
}

/* kopf überschriften in den TABS */
QLabel#tabHeaderLabel
{
  font-style: bold;
  font-size: 18pt;
  color: red;
}

/*
##################################################################
#  Device Info Tab                                               #
##################################################################
*/

QWidget#deviceInfoBodyWidget>QLabel
{
  font-family: "Hack";
  font-style: bold;
  font-size: 22pt;
  color:gray;
  background-color: silver;
}

QGroupBox#firmwarePartGroupBox>QLabel
{
  font-style: italic;
  font-size: 12pt;
  color:gray;
}

QGroupBox#firmwarePartGroupBox>QLabel:enabled
{
  font-style: bold;
  font-size: 12pt;
  color:green;
}


/*
##################################################################
#  Gas Tab - current gas edit                                    #
##################################################################
*/
QGroupBox#currGasGroupBox>QWidget
{
  background-color: silver;
}

QGroupBox#currGasGroupBox>QLabel
{
  background-color: none;
  color:blue;
}

QGroupBox#currGasGroupBox>QWidget>QLabel,
 QGroupBox#currGasGroupBox>QWidget>QCheckBox ,
 QGroupBox#currGasGroupBox>QWidget>QSpinBox,
 QGroupBox#currGasGroupBox>QWidget>QLineEdit,
 QLabel#currNameLabel
{
  font-style: bold;
  font-size: 22pt;
  color:gray;
  background-color: silver;
}

QGroupBox#currGasGroupBox>QWidget>QCheckBox#currWaterTypeCheckBox
{
  color:#6060ff;
  font-size: 14pt;
}

QGroupBox#gasesGroupBox>QRadioButton
{
  color:gray;
  font-size:14pt;
}

QGroupBox#gasesGroupBox>QRadioButton:checked
{
  color:red;
}

QGroupBox#gasesGroupBox>QRadioButton:hover
{
  color:#ff8080;
}
