/******************************************************************************
**** Stylesheets für die App spx42Control                                  ****
******************************************************************************/

/* Schrift */

@font-family: "Bahnschrift";
@font-family-mono: "Hack";
@font-size-normal: 11pt;
@font-size-button: 15pt;
@font-header-label-size: 14pt;
@font-big-size: 18pt;
/* button */

@button-border-radius: 4px;
/* Farben */

@elem-color: #161616;
@elem-disabled-color: silver;
@elem-background-bolor: #f3f3f3f1;
@tab-background-color: #e7e7e7;
@tab-hover-background-color: #eee5d0;
@tab-selected-background-color: #d9eef8;
@elem-hover-border-color: #00E604;
@elem-hover-color: #222fa5;
@elem-pressed-color: #ff0000;
@label-color: #04049e;
@gas-groub-radio-button-color: #cecece;
@gas-label-background-color: silver;
@gas-label-hover-color: #662ffd;
@gas-label-hover-background-color: #f0f0f0;
@gas-group-background-color: silver;
@device-info-text-color: #333232;
@device-info-label-background-color: #707070;
@device-info-enabled-text-color: #0c9400;
/******************************************************************************
**** Alle Anzeigeelemente                                                  ****
******************************************************************************/

QWidget {
    font-family: @font-family;
    font-style: normal;
    color: @elem-color;
    font-size: @font-size-normal;
}

QMainWindoww {
    background-color: @elem-background-bolor;
}

QPushButton {
    font-family: @font-family-mono;
    font-size: @font-size-button;
    border-radius: @button-border-radius;
}

QPushButton:disabled {
    color: @elem-disabled-color;
}

QPushButton:hover,
QComboBox:hover,
QSpinBox:hover {
    color: @elem-hover-color;
    border: 1px solid @elem-hover-border-color;
    font-size: @font-size-button;
}

QPushButton:hover:pressed {
    color: @elem-hover-color;
    border: 1px solid @elem-pressed-color;
}

/* kopf überschriften in den TABS */

QLabel#tabHeaderLabel {
    font-style: bold;
    font-size: @font-header-label-size;
    color: @label-color;
}

/*
##################################################################
#  Device Info Tab                                               #
##################################################################
*/

QWidget#deviceInfoBodyWidget>QLabel {
    font-family: @font-family;
    font-style: bold;
    font-size: @font-big-size;
    color: @device-info-text-color;
    background-color: @device-info-label-background-color;
}

QGroupBox#firmwarePartGroupBox>QLabel {
    font-style: italic;
    font-size: @font-size-normal;
    color: @device-info-text-color;
}

QGroupBox#firmwarePartGroupBox>QLabel:enabled {
    font-style: bold;
    font-size: @font-size-normal;
    color: @device-info-enabled-text-color;
}

/*
##################################################################
#  Gas Tab - current gas edit                                    #
##################################################################
*/

QGroupBox#currGasGroupBox>QWidget {
    background-color: @gas-group-background-color;
}

QGroupBox#currGasGroupBox>QLabel {
    background-color: none;
    color: @label-color;
}

QGroupBox#currGasGroupBox>QWidget>QLabel,
QGroupBox#currGasGroupBox>QWidget>QCheckBox,
QGroupBox#currGasGroupBox>QWidget>QSpinBox,
QGroupBox#currGasGroupBox>QWidget>QLineEdit,
QLabel#currNameLabel {
    font-style: bold;
    font-size: @font-big-size;
    color: @label-color;
    background-color: @gas-group-background-color;
}

QGroupBox#currGasGroupBox>QWidget>QSpinBox {
    font-family: @font-family-mono;
}

QGroupBox#currGasGroupBox>QWidget>QCheckBox#currWaterTypeCheckBox {
    color: @label-color;
    font-size: @font-header-label-size;
}

QGroupBox#gasesGroupBox>QRadioButton {
    color: @gas-groub-radio-button-color;
}

QGroupBox#gasesGroupBox>QRadioButton:checked {
    color: @label-color;
    background-color: @gas-label-background-color;
}

QGroupBox#gasesGroupBox>QRadioButton:hover {
    color: @gas-label-hover-color;
    background-color: @gas-label-hover-background-color;
}

/*
###############################################################################
LOG TAB
###############################################################################
*/

QGroupBox#logDetailsGroupBox>QLabel#dbWriteNumLabel {
    font-style: bold;
    color: rgb(182, 21, 133);
    background-color: #D6D6D6;
}

QTableWidget#logentryTableWidget {
    font-family: @font-family-mono;
}

/*
###############################################################################
#### tabs stylen                                                           ####
###############################################################################
*/

/* linie zum hauptbereich */

QTabWidget::pane {
    border-top: 2px solid #295732;
}

/* abstand zur linken Seite unter Windows, bei mac ist mitte standart */

QTabWidget::tab-bar {
    left: 5px;
}

QTabBar::tab {
    background: @tab-background-color;
    border: 2px solid #C4C4C3;
    border-bottom-color: #295732;
    /* same as the pane color */
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    min-width: 10ex;
    padding-top: 4px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
}

/* drüber mit der Maus */

QTabBar::tab:selected {
    background-color: @tab-selected-background-color;
}

QTabBar::tab:hover {
    background: @tab-hover-background-color;
    color: @elem-hover-color;
}

/* der markierte TAB */

QTabBar::tab:selected {
    border-color: #278C23;
    border-bottom-color: #295732;
}

/* NICHT selektierter Tabs sollen kleiner erscheinen */

QTabBar::tab {
    margin-top: 2px;
}

/* selektierte tabs sollen überlappen */

QTabBar::tab:selected {
    margin-left: -2px;
    margin-right: -2px;
}

/* der erste tab überlappt natürlich nicht links */

QTabBar::tab:first:selected {
    margin-left: 0;
}

/* und der letzte tab überlapt natürlich nicht rechts */

QTabBar::tab:last:selected {
    margin-right: 0;
}

/* wenn nur ein tab da sein sollte */

QTabBar::tab:only-one {
    margin: 0;
}